nav {
  height: 120px;
  width: 100%;
  background-color: #4056A1;
  color: #FFFFFF;
  padding: 0 1.5em;
  justify-content: space-between;
  display: flex;
  align-items: center;
}
nav div{
  display: flex;
  flex-direction: column;
  align-items: center;

}
nav div i{
  color: red;
  margin-top: -15px;
}

